/* Header css starts */
header {
    position: relative;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logoMenu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo img {
    width: auto;
    height: 35px;
}

nav ul li {
    position: relative;
}

nav a svg {
    font-size: 10px;
    transition: all 0.4s;
}

.cakeBtn {
    padding: 14px 26px;
    border-radius: 4px;
    border: 0;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
}

.loginBtn {
    background-color: transparent;
}

.salesBtn {
    background-color: #fff;
}

.freeBtn {
    background-color: blue;
    color: #fff;
}

.menuBtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    display: none;
}

.menuBtn span {
    background-color: #000;
    border-radius: 4px;
    width: 100%;
    height: 2px;
    margin-block: 6px;
    transition: all .3s;
    display: block;
}

.menuBtn:hover span:first-child {
    margin-left: 60%;
}

.menuBtn:hover span:nth-child(2) {
    margin-left: 30%;
}

.menuBtn span:last-child {
    margin-bottom: 0;
}

.mobilePanel {
    display: none;
}

/* hero css starts */
.heroBg {
    background: url(../assets/images/hero-bg.png) center/cover no-repeat;
    padding-top: 140px;
    padding-bottom: 40px;
    position: relative;
    z-index: -2;
}

.heroContainer {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}

.heroHeading {
    font-weight: 800;
    font-size: 80px;
    line-height: 1.1;
}

.heroContent {
    display: flex;
    gap: 30px;
    align-items: stretch;
    flex-direction: column;
}

.heroContent p {
    width: 80%;
    font-weight: 400;
    color: #404040;
    line-height: 1.6;
}

.heroPoints {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #404040;
}

.heroPoints>div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.heroPoints>div svg {
    font-size: 18px;
    color: #444444;
}

.heroBtn {
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 15px;
    display: flex;
    width: fit-content;
}

.heroImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage img {
    width: auto;
    height: 750px;
    object-fit: cover;
}