* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	text-decoration: none;
	vertical-align: middle;
	font-family: var(--font-primary);
	list-style: none;
}

a {
	color: initial;
}

:root {
	--primary: #ca8e46;
	--font-primary: "Inter", sans-serif;

	--container-padding: 15px;

	--container-xxl-sm: 1820px;
	--container-xl: 1600px;
	--container-lg: 1440px;
	--container-md: 1200px;
	--container-sm: 992px;
	--container-xs: 768px;
}

body {
	overflow-x: hidden;
}

section {
	padding-block: 80px;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	max-width: var(--container-xxl-sm);
}

/* <= 1820px */
@media (max-width: 1820px) {
	.container {
		max-width: var(--container-xxl-sm);
	}
}

/* <= 1600px */
@media (max-width: 1600px) {
	.container {
		max-width: var(--container-xl);
	}
}

/* <= 1440px */
@media (max-width: 1440px) {
	.container {
		max-width: var(--container-lg);
	}
}

/* <= 1200px */
@media (max-width: 1200px) {
	.container {
		max-width: var(--container-md);
	}
}

/* <= 992px */
@media (max-width: 992px) {
	.container {
		max-width: var(--container-sm);
	}
}

/* <= 768px */
@media (max-width: 768px) {
	.container {
		max-width: 100%;
	}
}