@media (min-width: 1140px) {

    nav ul:not(.dropdownItem) {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    nav a:not(.dropdownItem li a) {
        padding-block: 25px;
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
    }

    .dropdownItem {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border-radius: 2px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }

    .dropdown:hover .dropdownItem {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
    }

    .dropdown:hover a svg {
        transform: rotate(180deg);
    }

    nav ul .dropdownItem {
        display: flex;
        flex-direction: column;
        width: 260px;
        align-items: stretch;
    }

    .dropdownItem li a {
        padding: 12px;
        display: flex;
    }

    .dropdownItem li a:hover {
        background-color: #f5f5f5;
    }

    .userBtns {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

/* <= 1820px */
@media (max-width: 1820px) {}

/* <= 1600px */
@media (max-width: 1600px) {}

/* <= 1440px */
@media (max-width: 1440px) {
    .heroBg {
        padding-top: 100px;
    }

    .heroHeading {
        font-size: 66px;
    }
}

/* <= 1200px */
@media (max-width: 1200px) {
    .heroContainer {
        grid-template-columns: auto;
    }

    .heroHeading {
        font-size: 60px;
    }
}

/* <= 1024px */
@media (max-width: 1024px) {
    header {
        padding-block: 15px;
    }

    .menuBtn {
        display: block;
    }

    .logoMenu {
        justify-content: space-between;
        width: 100%;
    }

    .mobilePanel {
        background: #fff;
        z-index: 2;
        width: 350px;
        height: 100vh;
        padding: 20px;
        transition: right .3s;
        position: fixed;
        top: 0;
        display: block;
        right: -350px;
        box-shadow: -4px 0 12px #00000026;
        padding-top: 60px;
    }

    .mobilePanel.open {
        right: 0;
    }

    .mobilePanel nav ul li a:not(.dropdownItem li a) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-block: 15px;
        border-radius: 5px;
    }

    .mobilePanel nav ul:not(.dropdownItem) {
        display: flex;
        flex-direction: column;
    }

    .dropdownItem {
        margin-block: 10px;
        border: 1px solid #cccccc59;
        border-radius: 5px;
        box-shadow: 2px 2px 10px #3e3e3e1a;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    .dropdown .open-dropdown {
        opacity: 1;
        visibility: visible;
        display: block;
        transform: scaleY(1);
    }

    .mobilePanel nav ul .dropdownItem li {
        padding-block: 15px;
        padding-left: 15px;
    }

    .userBtns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        width: fit-content;
    }

    .salesBtn,
    .loginBtn {
        border: 1px solid #cccccc78;
    }

    .closeBtn {
        cursor: pointer;
        border: 0;
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: #cec9f5;
    }
}

/* <= 992px */
@media (max-width: 992px) {
    .heroHeading {
        font-size: 40px;
    }

    .heroImage img {
        height: 600px;
    }
}

/* <= 768px */
@media (max-width: 768px) {}

/* <= 576px */
@media (max-width: 576px) {
    .heroHeading {
        font-size: 27px;
    }

    .heroImage img {
        height: 450px;
    }
}